<% if false %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <%#= button_to "Sign Out", destroy_user_session_path, method: :destroy %>
  <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class: "button-inner" %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>

<% end %>

<h2>Divider</h2>

<div class="chat-container button-inner">
  <div class="chat-top">
    <div class="chat-bubble-user">
      <div class="chat-bubble-top">
        <div class="chat-name-user">alexisnsx</div>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-content">
        <p>$20 at dal.komm coffee</p>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-bubble-top"></div>
    </div>

    <div class="chat-bubble-bot">
      <div class="chat-bubble-top">
        <div class="chat-name-bot">chatbot</div>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-content">
        <p>recorded $20 spent at dal.komm coffee under food and drinks. I’ve added them under tags ‘Coffee, Cafe, Drinks’ for easier identification. Go to ‘tags’ page at the bottom to filter your expenses via tags!</p>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-bubble-top"></div>
    </div>

    <div class="chat-bubble-user">
      <div class="chat-bubble-top">
        <div class="chat-name-user">alexisnsx</div>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-content">
        <p>$20 at dal.komm coffee</p>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-bubble-top"></div>
    </div>

    <div class="chat-bubble-bot">
      <div class="chat-bubble-top">
        <div class="chat-name-bot">chatbot</div>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-content">
        <p>recorded $20 spent at dal.komm coffee under food and drinks. I’ve added them under tags ‘Coffee, Cafe, Drinks’ for easier identification. Go to ‘tags’ page at the bottom to filter your expenses via tags!</p>
      </div>
      <div class="chat-bubble-mid"></div>
      <div class="chat-bubble-top"></div>
    </div>

  </div>
  <div class="chat-divider"></div>
  <div class="chat-bottom">
    <form id="chat-form">
      <textarea name="chat-input" id="chat-input" placeholder="type here"></textarea>
      <%= image_submit_tag "pixelated-send.png", alt: "Submit", width: '45', height: '45' %>
      <%= image_tag 'pixelated-upload.png', alt: 'send button', width: '60', height: '60' %>
    </form>
  </div>
</div>

<% end %>
