<%# Display datepicker %>
<%#= render "shared/datepicker", date: params["date"] %>
<%= render "shared/datepicker", date: params["date"], action: "#" %>


<% if current_user.total_monthly_expense(params["date"]) > 0 %>
  <%# Display chart for all categories %>
  <div id="chart-container" data-controller="chart" data-chart-category-list-value="<%= current_user.categories.to_json%>" data-chart-category-amount-value="<%= current_user.category_monthly_expense(params["date"]).to_json %>">
    <canvas data-chart-target="chart"></canvas>
  </div>
<% else %>
  <p id="no-expense-message">No expense for this month</p>
<% end %>

<%# Display total expenses amount for selected date %>
<p id="total-expenses-amount">TOTAL:&nbsp;&nbsp;$<%= sprintf('%.2f', current_user.total_monthly_expense(params["date"])) %></p>

<div data-controller="toggle">
  <%# Display all categories of user %>
  <% current_user.categories.each do |category| %>
    <div
    class="container-category"
    data-toggle-target="clickableElement"
    data-action="click->toggle#show">
      <p><%= category.name.downcase %></p>
      <p>$<%= sprintf('%.2f', category.monthly_expense(params["date"])) %></p>
    </div>

    <%# Display all expenses in individual category for selected date %>
    <% if category.any_expense(params["date"]) %>
      <div class="container-items" hidden>
        <% category.expenses.each do |expense| %>
          <% if expense.date.strftime('%B %Y') == params["date"]  %>
            <div class="">
              <p class="m-1"><%= expense.name.downcase %></p>
              <p class="m-1">$<%= sprintf('%.2f', expense.amount) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
