<div class="date-container">
  <i class="fa-solid fa-caret-left"></i>
  <h1 class="date-header"><%= params["date"].gsub(/(\D)(\d)/, '\1 \2') %></h1>
  <i class="fa-solid fa-caret-right"></i>
</div>

<form class="text-center" action="#">
  <label for="date">Month</label>
  <select name="date" id="date">
    <% current_user.months_with_expenses.each do |month| %>
      <option value=<%= month.delete(' ') %>><%= month %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit" />
</form>

<form action="#" >
  <input type="date">
</form>


<%# Display chart for all categories %>
<div id="chart-container" data-controller="chart" data-chart-category-list-value="<%= current_user.categories.to_json%>" data-chart-category-amount-value="<%= current_user.category_monthly_expense(params["date"]).to_json %>">
  <canvas data-chart-target="chart"></canvas>
</div>

<%# Display total expenses amount for selected date %>
<p id="total-expenses-amount">TOTAL:&nbsp;&nbsp;$<%= sprintf('%.2f', current_user.total_monthly_expense(params["date"])) %></p>

<div data-controller="toggle">
  <%# Display all categories of user %>
  <% current_user.categories.each do |category| %>
    <div class="container-category" data-toggle-target="clickableElement" data-action="click->toggle#show">
      <p><%= category.name.downcase %></p>
      <p>$<%= sprintf('%.2f', category.monthly_expense(params["date"])) %></p>
    </div>

    <%# Display all expenses in individual category for selected date %>
    <div class="container-items" hidden>
      <% category.expenses.each do |expense| %>
        <% if expense.date.strftime('%B%Y') == params["date"]  %>
          <div class="">
            <p class="m-1"><%= expense.name.downcase %></p>
            <p class="m-1">$<%= sprintf('%.2f', expense.amount) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
