<!-- <div class="date-container">
  <i class="fa-solid fa-caret-left"></i>
  <h1 class="date-header"><%= params["date"].gsub(/(\D)(\d)/, '\1 \2') %></h1>
  <i class="fa-solid fa-caret-right"></i>
</div>

<form class="text-center" action="#">
  <label for="date">Month</label>
  <select name="date" id="date">
    <% current_user.months_with_expenses.each do |month| %>
      <option value=<%= month.delete(' ') %>><%= month %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit" />
</form> -->

<%# Display datepicker %>
<div class="form-container">
  <form action="#" id="datepicker-form" data-controller="datepicker" data-datepicker-target="form">
    <input value="<%= params[:date] %>" type="text" name="date" id="datepicker-input" data-datepicker-target="input" data-action="click->datepicker#toggle">
    <div class="datepicker-container" data-action="click->datepicker#handleMonthClick" data-datepicker-target="calendar" hidden>
      <div class="datepicker-row">
        <i data-action="click->datepicker#decreaseYear" class="fa-sharp fa-solid fa-caret-left"></i>
        <p data-datepicker-target="year" data-year=<%= params[:date].split.last %>><%= params[:date].split.last %></p>
        <i data-action="click->datepicker#increaseYear" class="fa-sharp fa-solid fa-caret-right"></i>
      </div>
      <div class="datepicker-row">
        <button class="month-button" data-month="January">Jan</button>
        <button class="month-button" data-month="February">Feb</button>
        <button class="month-button" data-month="March">Mar</button>
      </div>
      <div class="datepicker-row">
        <button class="month-button" data-month="April">Apr</button>
        <button class="month-button" data-month="May">May</button>
        <button class="month-button" data-month="June">Jun</button>
      </div>
      <div class="datepicker-row">
        <button class="month-button" data-month="July">Jul</button>
        <button class="month-button" data-month="August">Aug</button>
        <button class="month-button" data-month="September">Sep</button>
      </div>
      <div class="datepicker-row">
        <button class="month-button" data-month="Oct">Oct</button>
        <button class="month-button" data-month="November">Nov</button>
        <button class="month-button" data-month="December">Dec</button>
      </div>
    </div>
  </form>
</div>

<% if current_user.total_monthly_expense(params["date"]) > 0 %>
  <%# Display chart for all categories %>
  <div id="chart-container" data-controller="chart" data-chart-category-list-value="<%= current_user.categories.to_json%>" data-chart-category-amount-value="<%= current_user.category_monthly_expense(params["date"]).to_json %>">
    <canvas data-chart-target="chart"></canvas>
  </div>
<% else %>
  <p id="no-expense-message">No expense for this month</p>
<% end %>

<%# Display total expenses amount for selected date %>
<p id="total-expenses-amount">TOTAL:&nbsp;&nbsp;$<%= sprintf('%.2f', current_user.total_monthly_expense(params["date"])) %></p>

<div data-controller="toggle">
  <%# Display all categories of user %>
  <% current_user.categories.each do |category| %>
    <div class="container-category" data-toggle-target="clickableElement" data-action="click->toggle#show">
      <p><%= category.name.downcase %></p>
      <p>$<%= sprintf('%.2f', category.monthly_expense(params["date"])) %></p>
    </div>

    <%# Display all expenses in individual category for selected date %>
    <% if category.any_expense(params["date"]) %>
      <div class="container-items" hidden>
        <% category.expenses.each do |expense| %>
          <% if expense.date.strftime('%B %Y') == params["date"]  %>
            <div class="">
              <p class="m-1"><%= expense.name.downcase %></p>
              <p class="m-1">$<%= sprintf('%.2f', expense.amount) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
