<%#= render "shared/datepicker", date: params["date"] %>
<%#= render "shared/datepicker", date: @date_param %>
<%= render "shared/datepicker", date: params["date"], action: expenses_path %>



<!--
<%= form_with url: expenses_path, method: :get, local: true, id: "date-form" do %>
  <%= date_field_tag :date, params[:date], onchange: "this.form.submit();" %>
<% end %>
-->

<div id="expenses-data" data-controller="expenses" data-expenses='<%= @expenses %>'>
  <%# <button> %>
  <div id="selection">
    <div class="select-container">
      <select name="category" id="category" class="select-box">
        <option value="">All Categories</option>
        <% @cats.each do |cat| %>
          <option value="<%= cat.id %>"><%= cat.name %></option>
        <% end %>
      </select>
    </div>
    <%# </button> %>
    <%# <button> %>
    <div class="select-container">
      <select name="tag" id="tag" class="select-box">
        <option value="">Tag</option>
        <% @tags.sort.each do |exp| %>
          <option value="<%= exp %>"><%= exp %></option>
        <% end %>
      </select>
    </div>
  </div>
  <%# </button> %>

  <div id="count-total"></div>

<% if @expenses_exist %>
    <%# <div id="display-expenses"> %>
    <div id="display-expenses" class="hidden">
      <!-- Code to display expenses -->
    </div>
  <% else %>
    <p>No records found for <%= params["date"] %>.</p>
  <% end %>


  </div>
</div>
