<h1>July 2024</h1>
<div>
  <button>
    <select name="category" id="category">
      <option value="">Category</option>
      <% @cats.each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
      <% end %>
    </select>
  </button>
  <button>
    <select name="tag" id="tag">
      <option value="">Tag</option>
      <% @fil_exp.each do |exp| %>
        <option value="<%= exp.id %>"><%= exp.name %></option>
      <% end %>
    </select>
  </button>
</div>

<br>

<div>
  <select name="category" id="category">
      <option value="">Category</option>
      <% @cats.each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
      <% end %>
    </select>
    <select name="tag" id="tag">
      <option value="">Tag</option>
      <% @fil_exp.each do |exp| %>
        <option value="<%= exp.id %>"><%= exp.name %></option>
      <% end %>
    </select>
  </button>
</div>

<br>

<div id="cat-selection">
  <span>Category</span><i class="fa-solid fa-caret-down"></i>
  <% @cats.each do |cat| %>
    <span><%= cat.name %></span>
  <% end %>
</div>


<div id="display-total">Total</div>

<div>
  <%= current_user.email %>
  <% @cats.each do |cat|%>
    <div>
      <span><%= cat.name %></span>
    </div>
  <% end %>

  <% @expenses.each do |exp| %>
    <div>
      <span><%= exp.name %></span>
      <span><%= exp.amount %></span>
    </div>
  <% end %>
</div>
