<!DOCTYPE html>
<html>
  <head>
    <title>BitSpend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>

      <div id="header">
        <h1>BitSpend</h1>
        <div id="head-style">
          <div class="sub-style">-</div>
          <div class="sub-style">+</div>
          <div class="sub-style">x</div>
        </div>
      </div>
      <div id="content">
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <nav>
        <%= render "shared/navbar" %>
      </nav>
    </main>
  </body>
</html>
