<!DOCTYPE html>
<html>
  <head>
    <title>BitSpend</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div id="header">
        <h2>BITSPEND</h2>
        <div id="head-style">
          <%# <div class="sub-style">-</div>
          <div class="sub-style">+</div>
          <div class="sub-style">x</div> %>
          <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class: 'log-out' %>
        </div>
      </div>
      <div id="content">
        <%= yield %>

      </div>
      <% if user_signed_in? %>
        <%= render "shared/navbar" %>
      <% end %>
    </main>
  </body>
</html>
